{% extends "grounds.html" %}

{% block head %}
{% endblock %}

{% block content %}
   <section class="catalogue">
        <div class="container">
            <div id="main">
                <section>
                    <div class="container">
                        {% with message = get_flashed_messages(with_categories=true) %}
                            {% if messages  %}
                                {% for message, category in messages %}
                                    <div class="{{category}}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div id="">
                            <form action="" method="POST" id="additem">
                                <legend><h3 class="banner-size">update inventory</h3></legend>
                                <hr style="width: 48%; margin-top: 2px; margin-left: 16px;border-color: #014A36;">
                                <fieldset class="">
                                        {{ form.hidden_tag() }}

                                            <div>
                                                {% if form.item.errors %}
                                                    {{ form.item(class='form-field-err', id='adduser', placeholder='item name') }}
                                                    {% for info in form.item.errors %}
                                                        <div class="error-msg"><span>{{ info }}</span></div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.item(class='form-field', id='adduser', placeholder='item name') }}
                                                {% endif %}
                                            </div>
                                           <div>
                                               {{ form.quantity(class='form-field', id='adduser', placeholder='quantity') }}
                                           </div>
                                           <div>
                                               {{ form.submit(class='form-submit', id='nu-user') }}
                                           </div>
                                </fieldset>
                            </form>
                        </div>
                        <div id="">
                            <form action="" method="POST" id="update-item">
                                <legend><h3 class="banner-size">add new item</h3></legend>
                                <hr style="width: 40%; margin-top: 2px; margin-left: 16px;border-color: #145C8E;">
                                <fieldset class="">
                                        {{ form.hidden_tag() }}

                                            <div>
                                                {% if form_2.item.errors %}
                                                    {{ form_2.item(class='form-field-err', id='adduser', placeholder='item name') }}
                                                    {% for info in form_2.item.errors %}
                                                        <div class="error-msg"><span>{{ info }}</span></div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form_2.item(class='form-field', id='adduser', placeholder='item name') }}
                                                {% endif %}
                                            </div>
                                           <div>
                                               {{ form_2.quantity(class='form-field', id='adduser', placeholder='quantity') }}
                                           </div>
                                           <div>
                                               {{ form_2.item_type(class='form-field', id='adduser', placeholder='type') }}
                                           </div>
                                           <div>
                                               {{ form_2.submit(class='form-submit', id='nu-item')}}
                                           </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <div id="sidebar">
                <div>
                    <div id="sidebar-item">
                        <fieldset class="new-order">
                            <legend><h4>out of Stock</h4></legend>

                        </fieldset>
                    </div>
                    <div id="sidebar-item">
                        <fieldset class="new-order">
                            <legend><h4>new stock</h4></legend>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
