{% extends 'grounds.html' %}

{% block content %}
    <section class="cata-div">
        <div class="container">
            <div>
                <h2>Stationery</h2>
            </div>
            <div>
                {% if current_user.is_authenticated %}
                        <div class="preview">
                            <label>
                                <a href="{{ url_for('catalogue') }}">
                                New Updates in <br>
                                Catalogue
                                </a>
                            </label>
                            <ul>
                                <li>brunch</li>
                                <li>brunch</li>
                                <li>brunch</li>
                                <li>brunch</li>
                            </ul>
                        </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
