<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='inv.css')}}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Inventory</title>
    {% endif %}
</head>
{% block head %}
{% endblock %}
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="fas fa-bars"></i>
        </label>
        <label for="" class="logo">THE INVENTORY</label>
        <ul>
            <li><a href="{{ url_for('index') }}">home</a></li>
            <li><a href="{{ url_for('order') }}">new order</a></li>
            <li><a href="{{ url_for('history') }}">history</a></li>
            <li><a href="{{ url_for('catalogue') }}">catalogue</a></li>
        </ul>
    </nav>
{% block content %}
{% endblock %}
</body>
</html>
