<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/extra.css')}}">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Inventory</title>
    {% endif %}
</head>
{% block head %}
{% endblock %}
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menu">
            <i class="fa fa-bars"></i>
        </label>
        <label for="" class="logo"><a href="{{ url_for('index') }}">THE INVENTORY</a></label>
        <ul class="navlinks">
            {% if current_user.is_authenticated %}
                {% if current_user.username == "codecmnd" %}
                <a href="{{ url_for('index') }}" class=""><li>home</li></a>
                <a href="{{ url_for('order') }}"><li>new order</li></a>
                <a href="{{ url_for('catalogue') }}"><li>catalogue</li></a>
                <a href="{{ url_for('additem') }}"><li>update inventory</li></a>
                <a href="{{ url_for('newuser') }}"><li>new user</li></a>
                <a href="{{ url_for('users') }}"><li>manage users</li></a>
                <a href="{{ url_for('logout') }}"><li>logout</li></a>
                
                {% else %}
                    <a href="{{ url_for('index') }}"><li>home</li></a>
                    <a href="{{ url_for('order') }}"><li>new order</li></a>
                    <a href="{{ url_for('catalogue') }}"><li>catalogue</li></a>
                    <a href="{{ url_for('history') }}"><li>profile</li></a>
                    <a href="{{ url_for('logout') }}"><li>logout</li></a>
                {% endif %}
            {% else %}
            <a href="{{ url_for('index') }}"><li>login</li></a>
                <a href="{{ url_for('catalogue') }}"><li>catalogue</li></a>
            {% endif %}
        </ul>
    </nav>
{% block content %}
{% endblock %}
    <script src="{{url_for('static', filename='css/inventory.js')}}"></script>
    <!-- <footer style="background-color: black; color: white; font-family: 'sf'; text-align: center;">
        <div class="container">
            <p class="small-text">designed and developed by King Praise | The A-max Team 2020</p>
        </div>
    </footer> -->
</body>
</html>
