{% extends 'grounds.html' %}


{% block content %}
    <section class="history">
        <div class="container">
                <div id="history-box">
                    <legend><h4>{{ current_user.name }}</h4></legend>
                    <p class="small-text">{{ current_user.email }}</p>
                    <p class="small-text">{{ current_user.username }}</p>
                </div>
        </div>
    </section>
    <section class="history">
        <div class="container">
                <div id="history-box-2">
                    <table>
                            <legend><h4>Order History</h4></legend>
                        <tr>
                            <th>item & qtty</td>
                            <th>date of order</td>
                        </tr>
                        <tr>
                            {% if receipts %}
                                {% for order in receipts %}
                                    <td>{{ order.items_n_quantities }}</td>
                                    <td>{{ (order.order_date) }}</td>
                                {% endfor %}
                            {% endif %}
                        </tr>

                    </table>
                </div>
        </div>
    </section>
{% endblock %}
