{% extends "grounds.html" %}

{% block head %}
{% endblock %}
     {% block content %}
     <div class="bkgrd">
       <section class="grey">
            <div class="container">
                <div id="hidari">
                    <h1 class="banner-size">
                        Your <br>
                        Logistics <br>
                        Anywhere You Are!
                    </h1>
                    <p class="small-text">Our team is always ready to take your ideas to the their utmost uniqueness. We are always growing and learning and always hoping to make your brand what it deserves to be.</p>
                    <button type="submit" class="ichi"><a href="{{url_for('catalogue')}}">view catalogue</a></button>
                </div>
                <div id="migi">
                    <div class="myalert">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages  %}
                                {% for category, message in messages %}
                                    <div class="{{category}}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="up-img">
                            <h3 class="banner-size">Welcome to the Inventory</h3>
                        </div>
                    {% else %}
                        <form action="" method="POST" id="formset">
                            <fieldset class="">
                                {{ form.hidden_tag() }}
                                <div>

                                {% if form.email.errors %}
                                    {{form.email(class='form-field-err', id='fst-gen', placeholder='email')}}
                                        {% for error in form.email.errors %}
                                            <div class="error-msg"><span>{{error}}</span></div>
                                        {% endfor %}
                                {% else %}
                                    {{ form.email(class='form-field', id='fst-gen', placeholder='email') }}
                                {% endif %}
                                </div>
                                <div>
                                    {{ form.password(class='form-field', placeholder='password') }}
                                </div>
                                <div>
                                    {{ form.submit(class='form-submit') }}
                                </div>
                            </fieldset>
                        </form>
                    {% endif %}
                </div>
            </div>
        </section>
        <section>
        {% if current_user.is_authenticated %}
            <div class="container">
                <div class="preview">
                    <label>
                        <a href="{{ url_for('catalogue') }}">
                        New Updates in <br>
                        Catalogue
                        </a>
                    </label>
                    <ul>
                        {% if in_stock %}
                            {% for new_item in in_stock[0:4]  %}
                                <li>{{new_item.item_name}}</li>
                            {% endfor %}
                        {% else %}
                            <li>brunch</li>
                            <li>brunch</li>
                            <li>brunch</li>
                            <li>brunch</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
        </section>
    </div>
{% endblock %}


