{% extends "grounds.html" %}

{% block head %}
{% endblock %}
     {% block content %}
       <div class="container-neo ">
                <div class="">
                    {% if current_user.is_authenticated %}
                    <div class="grocery-back-nosplit">
                        <div class="index-no-split">
                            <h1 class="header1">
                                Your <br>
                                Logistics <br>
                                Anywhere You Are!
                            </h1>
                            <p class="small">Our team is always ready to take your ideas to the their utmost uniqueness. We are always growing and learning and always hoping to make your brand what it deserves to be.</p>
                            <button type="submit" class="btn btn-primary btn-unique"><a href="{{url_for('catalogue')}}">view catalogue</a></button>

                            <!-- <p class="company-info">
                                <span><img src="static/media/favicon.png" alt="motaku_pr_mini_logo" class="footer-img"><small>MotakuPR&copy; 2020 | Designed by the Motaku Team&reg;</small></span>
                            </p> -->

                            <div class="slide-menu wrapper">
                                <div class="slide-menu-item">inv 1</div>
                                <div class="slide-menu-item">inv 2</div>
                                <div class="slide-menu-item">inv 3</div>
                                <div class="slide-menu-item">inv 4</div>
                                <div class="slide-menu-item">inv 5</div>
                                <div class="slide-menu-item">inv 6</div>
                            </div>
                        </div>                        
                    </div>
                    <div class="banner">
                        <div class="float-left">
                            <h3 class="title-m">
                                Search Item by
                            </h3>
                            <h1 class="title-l header2">Brand</h1>
                            <p>We've got goods from the best brands so you know you can trust us to deliver the best products for your projects and your constructions.</p>
                        </div> 
                        <div class="float-right">
                            <h3 class="title-m">
                                Search Item by
                            </h3>
                            <h1 class="title-l header2">Brand</h1>
                            <p>We've got goods from the best brands so you know you can trust us to deliver the best products for your projects and your constructions.</p>
                        </div>                                               
                    </div>




                    {% else %}
                    <div class="split">
                        <div class="grocery-back">
                            <div class="float-left">
                                <div>
                                   <h1 class="">
                                        Your <br>
                                        Logistics <br>
                                        Anywhere You Are!
                                    </h1>
                                    <p class="small">Our team is always ready to take your ideas to the their utmost uniqueness. We are always growing and learning and always hoping to make your brand what it deserves to be.</p>
                                    <button type="submit" class="btn btn-primary secondary-task"><a href="{{url_for('catalogue')}}">view catalogue</a></button>
                                </div>

                                <div class="slide-menu-sm wrapper-sm hidden">
                                    <div class="slide-menu-item">inv 1</div>
                                    <div class="slide-menu-item">inv 2</div>
                                    <div class="slide-menu-item">inv 3</div>
                                    <div class="slide-menu-item">inv 4</div>
                                    <div class="slide-menu-item">inv 5</div>
                                    <div class="slide-menu-item">inv 6</div>
                                </div>
                                <!-- <p class="company-info">
                                    <span><img src="static/media/favicon.png" alt="motaku_pr_mini_logo" class="footer-img"><small>MotakuPR&copy; 2020 | Designed by the Motaku Team&reg;</small></span>
                                </p> -->
                            </div>
                        </div>

                            <div class="float-right login">

                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages  %}
                                            {% for category, message in messages %}
                                            <div class="alert">
                                                <div class="alert-{{category}}">{{ message }}</div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}

                                <form action="" method="POST">
                                    {{ form.hidden_tag() }}
                                    <h6>Log in</h6>
                                    <div class="fields">
                                        {% if form.email.errors %}
                                            {{form.email(class='form-control is-invalid', placeholder='email')}}
                                            {% for error in form.email.errors %}
                                                <div class="invalid-feedback"><span>{{error}}</span></div>
                                            {% endfor %}
                                        {% else %}
                                            {{ form.email(class='form-control field', placeholder='email') }}
                                        {% endif %}

                                        <div>
                                            {{ form.password(class='form-control field', placeholder='password') }}
                                        </div>
                                        <input name="bot-field" id="bot-field">
                                        <!-- <button type="submit" class="btn custom-btn">send</button> -->
                                        <div>
                                            {{ form.submit(class='btn custom-btn') }}
                                        </div>
                                    </div>

                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            <div>
            {% if current_user.is_authenticated %}
                
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


