{% extends "grounds.html" %}

{% block content %}
    <section class="all-users">
        <div class="container">
            <div>
                <button style="margin-top: 20px"><li><a href="{{ url_for('pending_orders') }}">pending orders</a></li></button>
                <button style="margin-top: 20px; margin-left: 800px; background-color: #95D1C0; color: white;"><li><a href="{{ url_for('newuser') }}">add user</a></li></button>
            </div>
            <div>
               {% for user in all_users %}
                <div id="user">
                    <legend><h4>{{user.name}}</h4></legend>
                    <p>{{user.username}}</p>
                    <p>{{user.email}}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
