{% extends 'grounds.html' %}

{% block content %}
    <section class="plain">
        <div class="container">
            <div class="hidari">
               <form action="" method="POST" id="orderset">
                    <fieldset class="new-order">
                        <legend><h4>Order Form</h4></legend>
                        {{ form_1.hidden_tag() }}
                        <div>
                            {% if form_1.item.errors %}
                                {{ form_1.item(class='form-field-err', id='fst-gen', placeholder='search item') }}
                                {% for error in form_1.item.errors %}
                                    <div class="error-msg"><span>{{ error }}</span></div>
                                {% endfor %}
                            {% else %}
                                {{ form_1.item(class='form-field', id='fst-gen', placeholder='search item') }}
                            {% endif %}
                        </div>
                        <div>
                            {{ form_1.quantity(class='form-field', placeholder='quantity') }}
                        </div>
                        <div>
                            {{ form_1.add(class='form-submit') }}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="migi">

                <div>
                   {% if order_progress %}
                        <a href="{{ url_for('cancelorder', order_id=order_progress[-1].id) }}"><button type="submit" class="form-submit" id="cancel">cancel last</button></a>
                    {% else %}
                        <a href="#"><button type="submit" class="form-submit" id="inactive">cancel last</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="badges">
        <div class="container">
            <div id="stock">
                <div id="stock-stat" style="width: 45%;">
                    <legend><h4>new stock</h4></legend>
                    {% for item in recents %}
                        <p class="list" style="text-align: left;">• {{item.item_name}}</p>
                    {% endfor %}
                </div>
                <div id="stock-stat" style="width: 45%;"">
                    <legend><h4>out of Stock</h4></legend>
                </div>
            </div>
            <div id="order-stat">
                <div id="pending">
                    <legend><h4>pending orders</h4></legend>
                    {% if pending_orders %}
                        {% for order in pending_orders %}
                            <p class="list" style="text-align: left; color: black;">
                            • {{ order.order_date.date() }} || {{ order.items }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="approved">
                    <fieldset class="new-order">
                        <legend><h4>approved orders</h4></legend>

                    </fieldset>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
