{% extends 'grounds.html' %}


{% block content %}
<body class="bg-light">
    <div class="container2">
        <div class="row order-row">
                    <div class="col-md-8 order-md-1 col">
                        <h4 class="mb-3">New Order</h4>
                        <form class="" method="POST">
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <label for="firstName">First name</label>
                              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                Valid first name is required.
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <label for="lastName">Quantity</label>
                              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                Valid last name is required.
                              </div>
                            </div>
                          </div>

                          <div class="mb-4">
                            <div class="input-group">
                              <input type="text" class="form-control" id="username" placeholder="item type">
                            </div>
                          </div>

                          <div class="mb-4">
                            <input type="email" class="form-control" id="item-desc" placeholder="item description">
                          </div>

                          <button class="btn btn-primary btn-lg btn-block" type="submit">Add to order</button>
                          <div class="row">
                          </div>
                        </form>
                          <hr class="mb-4">




                          <h4 class="mb-3">Request New Item</h4>
                          <form class="needs-validation" novalidate>

                          <div class="row">
                            <div class="col-md-6 mb-3 col">
                              <label for="cc-name">Item Name</label>
                              <input type="text" class="form-control" id="cc-name" placeholder="" required>
                              <small class="text-muted">Start each word with block letters</small>
                              <div class="invalid-feedback">
                                Name on card is required
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="cc-number">Item Type</label>
                              <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 mb-3">
                              <label for="">Item Type</label>
                              <input type="text" class="form-control" id="" placeholder="" >
                              <small class="text-muted">eg. Drinks, Stationery, Houehold Item etc</small>
                            </div>
                            <div class="col-md-3 mb-3">
                              <label for="cc-cvv">Description</label>
                              <input type="text" class="form-control" id="cc-cvv" placeholder="">
                            </div>
                          </div>

                          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit for review and purchase</button>
                        </form>
                      </div>



                      <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your Order</span>
                            <span class="badge badge-secondary badge-pill">5</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Ordered Item</h6>
                                    <small class="text-muted">Item Type</small>
                                  </div>
                                  <span class="text-muted">12</span>
                                  <a href=""><img class="img-btn" src="bin.png" alt=""></a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Ordered Item</h6>
                                    <small class="text-muted">Item Type</small>
                                  </div>
                                  <span class="text-muted">12</span>
                                  <a href=""><img class="img-btn" src="bin.png" alt=""></a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Ordered Item</h6>
                                    <small class="text-muted">Item Type</small>
                                  </div>
                                  <span class="text-muted">12</span>
                                  <a href=""><img class="img-btn" src="bin.png" alt=""></a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Order made on</span>
                                <strong>24/05/04</strong>
                            </li>
                        </ul>
                        <div class="card p-2">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Owner" disabled>
                              <div class="input-group-append">
                                <button type="submit" class="btn btn-secondaire">Make Order</button>
                              </div>
                            </div>
                          </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
