{% extends 'grounds.html' %}

{% block content %}
       <section class="plain">
        <div class="container">
            <div class="hidari">
               <form action="" method="POST" id="orderset">
                    <fieldset class="new-order">
                        <legend><h4>Order Form</h4></legend>
                        {{ form_1.hidden_tag() }}
                        <div>
                            {{ form_1.item(class='form-field', id='fst-gen', placeholder='search item') }}
                        </div>
                        <div>
                            {{ form_1.quantity(class='form-field', placeholder='quantity') }}
                        </div>
                        <div>
                            {{ form_1.item_type(class='form-field', placeholder='item type') }}
                        </div>
                        <div>
                            {{ form_1.add(class='form-submit') }}
                        </div>
                    </fieldset>
                </form>
                <div>
                    <div id="outoforder">
                        <fieldset class="new-order">
                            <legend><h4>Out of Stock</h4></legend>

                        </fieldset>
                    </div>
                    <div id="outoforder">
                        <fieldset class="new-order">
                            <legend><h4>Out of Stock</h4></legend>

                        </fieldset>
                    </div>
                </div>

            </div>
            <div class="migi">
                <form action="" method="=GET" id="neworder">
                    <fieldset class="new-order">
                        {{ form_2.hidden_tag() }}
                        <legend><h4 class="chkut">Checkout</h4></legend>
                        <div>
                            {{ form_2.order_made_by(class='form-field', id='made_by', placeholder='made by') }}
                        </div>
                        <div>
                            {{ form_2.submit(class='form-submit') }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
