/*html elements*/
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

nav{
    width: 100%;
    height: 40px;
    background-image: url(static\media\bv.png);
    background-position: top;
    position: fixed;
}

label.logo{
    color: #012033;
    line-height: 40px;
    padding: 0 150px;
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica;
}

nav ul{
    float: right;
    margin-right: 135px;
}

nav ul li{
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;
}

nav ul li a{
    color: #012033;
    padding: 7px 7px;
    border-radius: 3px;
    font-size: 13px;
    font-family: 'work-sans';
    /*font-weight: bold;*/
}

nav a:hover{
    background: #012033;
    color: #fff;
    transition: .2s;
 }

nav a:active{
    background: #012033;
    color: #fff;
}

a{
    text-decoration: none;
}
/*html elements end*/

/*buttons*/
/*button{
    border-radius: 4px;
    padding:5px;
    border: transparent;
    background: #094164;
    color: #f1f2f3;
    margin-top: 5px;
    font-family: 'roboto'
}

button:hover{
    color: #094164;
    background: #f1f2f3;
    border-style: solid;
    border-width: 2px;
    border-color: #094164;
    font-weight: bolder;
    transition: .2s;
}*/

.img-btn{
    height: 16;
    width: 13;
    margin-top: 0.5rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondaire:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
 }

.btn-secondaire:focus, .btn-secondaire.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondaire{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary {
    color: #fff;
    background-color: #1160a1;
    border-color: #1160a1;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #0a518b;
    border-color: #0a518b;
  }

  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #0a518b;
    border-color: #0a518b;
    box-shadow: 0 0 0 0.2rem #0a518b;
  }

  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #95989b;
    border-color: #95989b;
  }

.btn-block {
    display: block;
    width: 100%;
}
/*buttons end*/


/*bootsrap patch*/
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.text-muted{
    color: #999ea1;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.bg-light {
  background-color: #f8f9fa;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

main{
    display: block;
    background-color: #191C22;
}

.container2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.lh-condensed { line-height: 1.25; }

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: transparent;
}

.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top: transparent;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.p-2 {
    padding: 0.5rem !important;
  }

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend,
.input-group-append {
  display: -ms-flexbox;
  display: flex;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*bootstrap patch*/





/*fontface*/
@font-face{
    font-family: 'montserat';
    src: url('/static/fonts/Montserrat-Regular.ttf');
}

@font-face{
    font-family: 'montserat-b';
    src: url('/static/fonts/Montserrat-Bold.ttf');
}

@font-face{
    font-family: 'work-sans';
    src: url('/static/fonts/WorkSans-Medium.ttf');
}

@font-face{
    font-family: 'sf';
    src: url('/static/fonts/sfdis.ttf');
}
/*fontface end*/

/*nav elements*/
.menu{
    font-size: 20px;
    color: #012033;
    float: right;
    line-height: 40px;
    margin-right: 50px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
/*nav-elements end*/


/*containers*/
.container{
    margin: 0 150px;
}

.order-row{
    padding-top: 30px;
}

.container2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.container a{
    text-decoration: none;
    color: inherit;
}
/*containers end*/

.grey{
    padding-top: 40px;
    padding-bottom: 30px;
    background: #F9FBFB;
    display: flex;
    width: 100%;
}

.plain{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
}

#hidari{
    float: left;
    width: 70%;
}

#migi{
    float: right;
    width: 25%;
    line-height: 1.5em;
    font-size: 15px;
    font-family: 'roboto';
    color: #333;
    transition: all .2s;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Helvetica;
    background-color: #29292E;
    /*background-color:#95D1C0;*/
    border-radius: 10px;
    margin-top: 15px;
}

#migi #formset{
    transition: all .3;
}

.hidari{
    float: left;
    box-sizing: border-box;;
    margin-right: 0px;
    width: 50%;
}

.migi{
    float: right;
    width: 50%;
    line-height: 1.5em;
    font-size: 15px;
    font-family: 'roboto';
    color: #333;
    transition: all .2s;
    padding: 12px 50px;
    font-family: Helvetica;
}

.up-img{
    background: url('/static/media/corp.jpg');
    background-size: cover;
    width: 80%;
    height:70%;
    color: yellow;
    padding: 50px 20px;
}

.up-img h3.banner-size{
    color: yellow;
    font-family: 'montserat';
}

form fieldset .form-field{
    width: 95%;
    border: transparent;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 7px;
    transition: all .1s;
}

form fieldset .form-field-err{
    width: 95%;
    border-color: red;
    border-radius: 4px;
    margin-bottom: 1px;
    padding: 7px;
    transition: all .1s;
}

form fieldset .form-field-info{
    width: 95%;
    background-color: #a9cce3;
    border-color: #2e86c1;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 7px;
    transition: all .1s;
}

form fieldset .form-field:focus, form fieldset .form-field-err:focus, form fieldset .form-field-info:focus{
    width: 100%;
}


fieldset{
    border-style: none;
    padding: 10px;
}

#orderset{
    width: 60%;
    background-color: #D2D2D2;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top:80px;
}

#neworder{
    margin-top:50px;
    /*background-color: #B5B5B5;*/
    background-color:#6898B4;
    border-radius: 5px;
    padding:40px;
}

#stock{
    float: left;
    width: 45%;
    margin-right:10%;
}

.order-status{
    width: 45%;
    float: right;
    margin-left: 10%;
    font-family: 'sf';
}


.orders{
    background-color: #F6F6F6;
    color: #012033;
    text-align: center;
    width: 500px;
    margin-top: 80px;
    padding: 20px 20px;
    font-family: 'sf';
}

#user{
    width: 18%;
    background-color:#F6F6F6;
    border-radius: 1px;
    padding: 20px 10px;
    margin-top:40px;
    float: left;
    margin-right: 15px;
    font-family: 'montserat';
    text-align: left;
    color: #012033;
    font-size: 12;
    box-shadow: 1px 1px 2px #CBCBCB;
}

#pending, #approved, #stock-stat{
    width: 21%;
    background-color:#F6F6F6;
    border-radius: 1px;
    padding: 20px 10px;
    margin-top:40px;
    float: left;
    margin-right: 15px;
    font-family: 'montserat';
    text-align: left;
    color: #012033;
    font-size: 12;
    box-shadow: 1px 1px 2px #CBCBCB;
}

#user legend h4{
    margin-bottom: 6px;
}

.all-users{
    padding-top: 20px;
}

#made_by{
    width:fit-content;
    margin-bottom: 1px;
}

.history{
    color: #012033;
    padding-top: 15px;
}


#history-box{
    width: 50%;
    background-color:#F6F6F6;
    border-radius: 1px;
    padding: 20px 25px;
    margin-top:40px;
    margin-right: 25px 15px;
    font-family: 'montserat';
    text-align: left;
    color: #012033;
    font-size: 20;
    box-shadow: 1px 1px 2px #CBCBCB
}

#history-box-2{
    width: 70%;
    background-color:#F6F6F6;
    border-radius: 1px;
    padding: 20px 70px;
    margin-top:40px;
    margin-right: 25px 15px;
    font-family: 'sf';
    text-align: left;
    color: #012033;
    font-size: 20;
    box-shadow: 1px 1px 2px #CBCBCB
}

#history-box .small-text, #history-box-2 .small-text{
    font-size: 14;
}

#history-box-2 li{
    list-style: disc;
}

/*#formset{
    margin-top: 15px;
}*/

.form-submit{
    border-radius: 4px;
    padding:5px 10px;
    border: transparent;
    background: #094164;
    color: #f1f2f3;
    margin-top: 5px;
    font-family: 'roboto';
}

.form-submit:hover{
    color: #094164;
    background: #f1f2f3;
    border-color: #094164;
    transition: .1s;
}

.formset{
    background-color: #29292E;
    border-radius: 9px;
    padding: 9px 0;
}

#fst-gen{
    margin-top: 20px;
}

h1.banner-size{
    font-size: 30px;
    color: #034168;
    text-shadow: 50px;
    line-height: 1.3em;
    margin-bottom: 5px;
    font-family: 'montserat-b';
}

h3.banner-size{
    font-size: 14px;
    font-family: 'montserat-b';
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0;
    color: #498E7B;
}

#update-item legend h3.banner-size{
    color: #145C8E;
}

#hidari p.small-text{
    font-size: 11;
    color: #094164;
    margin-bottom: 5px;
    font-family: 'roboto';
}

p.list{
    font-family: 'montserat';
    font-size: 13;
    margin: 1px 3px;
}

.new-order p.list{
    font-family: 'roboto';
    font-size: 13;
    margin: 1px 3px;
    color: white;
}

div.small-text{
    font-size: 11;
    color: #333;
    line-height: 1.3em;
    font-family: 'roboto';
    text-align: center;
}

legend h4{
    margin:0 0 2px 0;
}

legend h4.chkut{
    color: white;
}
/*.box{
    border: transparent;
    border-style: solid;
    width: 20%;
    padding: 8px 12px;
    background-color: #F9FBFB;
    float: left;
    margin-right: 5%;
}*/

#newuser{
    width: 300px;
    padding: 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-style:solid;
    border-width: thin;;
    border-radius: 20px;
    /*border-color: #191919;*/
    border-color: transparent;
    /*background-color: #D7D7D7;*/
    background-color:#95D1C0;
    transition: all .3;
}

#newuser fieldset, #additem fieldset, #update-item fieldset{
    text-align: center;
}

.catalogue{
    padding: 30px;
}

.cata-div{
    padding-top: 40px;
    font-family: 'sf';
}

#additem{
    float: left;
    width: 300px;
    padding: 20px;
    border-style:solid;
    border-width: thin;
    border-radius: 20px;
    /*margin-top: 30px;*/
    /*border-color: #191919;*/
    border-color: transparent;
    /*background-color: #D7D7D7;*/
    background-color:#95D1C0;
    transition: all .3;
}

#for-additem{
    margin-top: 30px;
}

#update-item{
    float: left;
    width: 300px;
    padding: 20px;
    border-style:solid;
    border-width: thin;
    border-radius: 20px;
    margin-top: 30px;
    /*border-color: #191919;*/
    border-color: transparent;
    /*background-color: #D7D7D7;*/
    background-color:#89ACC4;
    transition: all .3;
}

#main{
    float: left;
    width: 70%;
    padding: 10px;
}

#sidebar{
    float: right;
    width: 25%;
    line-height: 1.5em;
    font-size: 15px;
    font-family: 'roboto';
    color: #333;
    transition: all .2s;
    padding: 12px 20px;
    font-family: Helvetica;
    border-radius: 10px;
    margin-top: 15px;
}

#sidebar-item{
    width: 90%;
    background-color:#F19921;
    border-radius: 9px;
    padding: 15px 12px;
    margin-top:20px;
    float: right;
    margin-right: 40px;
    font-family: 'montserat';
    text-align: center;
    color: black;
}

footer .container p.small-text{
    font-family: 'montserat';
    color: white;
    text-align: center;
    font-size: 9;
    margin-top: 400px;
}

#nu-user{
    background-color:#498E7B;
}

/*#qtty{
    width: fit-content;
    margin-right: 0;
    text-align: left;
}*/

#nu-user:hover, #nu-item:hover{
    background-color: white;
}

#nu-item{
    background-color: #2e86c1;
}

.migi #cancel{
    align-self: flex-end r;
    background-color: red;
}

#cancel:hover{
    background-color: white;
    color:red;
    border: transparent;
}

.migi #inactive{
    background-color: #AEAEAE;
    align-self: flex-end r;
}

#inactive:hover{
    border: none;
    font-weight: normal;
}

.migi #make_order{
    background-color: #47AC65;
}

#make_order:hover{
    background-color: #95D1C0;
    border: transparent;
    font-weight: normal;
    color: white;
}

.badges{
    padding: 40px 20px;
    margin-top: 20px;
}

.preview{
    background: url('../media/vvv.png');
    background-size: cover;
    color: white;
    padding: 40px;
    margin-top: 90px;
    display: flex;
    border-radius: 8px;
}

.preview label{
    font-size: 26px;
    font-family: 'sf';
    float: left;
    width: 30%;
    padding-top: 30px;
    transition: all .3s;
}

.preview label:hover{
    font-size: 30px;
}

.preview ul{
    float:right;
    padding-top: 199px;
    width: 30%;
    text-align: center;
}

.preview li{
    display: inline;
    padding: 0 10px;
    text-shadow: 1px 1px 3px grey;
}

/*tables*/
.pending-order-table{
    padding: 15px;
    border: solid thin #094164;
}

.pending-order-table th{
    text-align: center;
    padding: 5px;
    color: #094164;
    border-radius: 28px;
}

.pending-order-table tr{
    text-align: center;
    padding: 5px;
    border: solid thin #094164;
}

td{
    text-align: center;
    padding-right:20px;
    border-bottom: thin;
}
/*tables end*/







/*alerts and notifications*/
.myalert{
    width: 95%;
    margin: auto;
    border-width: 0;
    text-align: center;
    margin-bottom: 3px;
    transition: all .3s;
    font-size: 10;
    font-family: 'work-sans';
}

.myalert-UI{
    width: 63%;
    margin-left: 31px ;
    border-width: 0;
    text-align: center;
    margin-bottom: 5px;
    transition: all .3s;
    padding: 2px 5px;
    font-size: 12;
    font-family: 'work-sans';
}

.success{
    background-color: #a3e4d7;
    color: #0e6251;
    padding: 3px;
    border-radius: 5px;
    transition: all .3s;
}

.danger{
    background-color: #ff9f9f;
    color: #a10101;
    padding: 3px;
    border-radius: 5px;
    transition: all .3s;
}

.info{
    background-color: #a9cce3;
    color: #2e86c1;
    padding: 3px;
    border-radius: 5px;
    transition: all .3s;
}
.error-msg{
    font-size: 10;
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
}

.info-msg{
    font-size: 12;
    background-color: #a9cce3;
    color: #2e86c1;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px;
}
/*alerts and notifications end*/









@media (max-width: 952px){
    label.logo{
        font-size: 20px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 12px;
    }
}

@media (max-width: 858px){
    .menu{
        display: block;
    }

    ul{
        position: absolute;
        width: 100%;
        height: 30%;
        height: 50vh;
        background: #fff;
        top: 20px;
        left: -800;
        bottom: 5px;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 20px 5px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 13px;
        color: #012033;
    }

    nav a:hover, nav a:active{
        background: none;
        color: #094164;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .container{
        width: 80%;
        margin: 0 10%;
    }
    .grey{
        display: block;
        width: 100%;
    }

    #hidari{
        float: none;
        width: 90%;
    }

    #migi{
        float: none;
        width: 65%;
    }

    .hidari{
        float: none;
        width: 90%;
    }

    .migi{
        float: none;
        width: 90%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    #neworder{
        width: 100%;
        margin-left: 0;
    }

    #user{
        float: none;
        display: block;
        width: 50%;
    }

    .badges{
        padding: 10px;
    }

    #stock{
        float: none;
        width: 90%;
        padding: 10px;
        margin-right: 0;
        display: block;
    }

    #stock-stat{
        float: none;
        width: 100%;
    }

    #order-stat{
        float: none;
        width: 90%;
        padding: 10px;
    }

    #pending{
        width: 90%;
        margin-bottom: 10px;
    }

    #approved{
        width: 90%;
        margin: 0;
    }

}
